
<header id="header">
    <div class="d-flex flex-column">
      <nav class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" id="logo" alt="" class="img-fluid rounded-circle">

      </nav>

      <div class="profile">
        <div class="profile-image">
        <img src="{{ url_for('static', filename='img/hero-bg.jpg') }}" id="logo" alt="" class="img-fluid rounded-circle">

            <!-- <img src="{{ url_for('static', filename='img/static/img/profile-img.jpg') }}"  alt="" class="img-fluid rounded-circle"> -->
        </div>
        <div class="profile-text">
          <h2>Arram Pamisa</h2>
          <p>s.pamisa.arram@cmu.edu.ph</p>
        </div>
      </div>


        <div class="profile-info">
        
          </div>
      </div>
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li id="chat"><a href="#hero" class="nav-link scrollto"><i class="bx bx-plus"></i> <span>New Chat</span></a></li>
          <li id="about"><a href="#about" class="nav-link scrollto"><i class="bx bx-message"></i> <span>The upcoming events ...</span></a></li>
          <li id="resume"><a href="#resume" class="nav-link scrollto"><i class="bx bx-message"></i> <span>Details about the program...</span></a></li>
          <li id="portfolio"><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-message"></i> <span>College fee and fines deadline...</span></a></li>
          
        </ul>
      </nav>




      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li id="talk"><a href="#hero" class="nav-link scrollto"><i class="bx bx-user "></i> <span>Talk with Officers</span></a></li>
          <li id="theme-toggle" style="margin-left: -15px; margin-top: -10px;"><a href="#about" class="nav-link scrollto"><i class="bx bx-bulb"></i> <span>Switch Light Mode.</span></a></li>
          <li id="update"><a href="#resume" class="nav-link scrollto"><i class="bx bx-exit"></i> <span>Updates & FAQ</span></a></li>
          <li id="class"><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-power-off"></i> <span style="color: red;">Log out</span></a></li>
        </ul>
      </nav>

    </div>
  </header>